.header_nav {
	display: flex;
	justify-content: space-around;
	background-color: black;
}

.header_nav button {
	flex-flow: 1;
	width: 100%;
	background-color: transparent;
	color: white;
}
.header_nav button:hover {
	background-color: blue;
}
