.container {
  display: block;
  height: 100vh;
  background-color: aquamarine;
  border: 1px solid orange;
}
.head {
  display: flex;
  justify-content: center;
  border: 1px solid orange;
  padding: 1ch;
}
nav {
  display: flex;
  border: 1px solid orange;
  align-items: center;
}
aside {
  display: flex;
  border: 1px solid orange;
  align-items: center;
}
